body {
    background-color: #101D28;
}

.card {
    /* display: inline-block; */
    display: inline-grid;
    grid-template-columns: 20% 20% 20% 20%;
    column-gap: 5px;
}

img {
    width: 200px;
    height: 200px;
}